*.pyc
*.pyo
*.pyd
__pycache__
*.swp
*.bak
*.tmp
*.db
*.sqlite3
*.sqlite

# Volumes
data

# Diretórios do Django
driverplan/media
driverplan/static
driverplan/__pycache__
driverplan/*.log
driverplan/*.pot

# Arquivos e diretórios comuns a serem ignorados
.DS_Store
Thumbs.db
.env
.venv
venv
ENV
env
build
dist
eggs
parts
sdist
var
*.egg-info
.installed.cfg
*.egg

# Arquivos e diretórios de configuração do editor/IDE
.idea
.vscode
*.sublime-workspace

# Diretório de testes
htmlcov
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
